body {
    text-align: center;
    font-family: Oswald;
}

h1 {
    margin: 8% 0 0 0;
    
}

.userInput {
    margin: 20px 0 0 5px;
}

ul {
    list-style-type: none;
    text-align: left;
}

.stock-news-title {
    text-align: left;
    margin: 40px;
}

/* h4 {
    text-align: left;
} */